#admin-dashboard-container {
    padding: 40px 0;
    min-height: 72.1vh;
    #add-new-game-btn, #add-existing-game-btn {
        margin-bottom: 10px;
    }
}
#add-new-game-modal {
    #add-new-game-banner-preview {
        img {
            width: 100px;
        }
    }
}
#add-existing-game-modal {
    .select2 {
        width: 100% !important;
    }
}
