// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #8cb91e;
    margin-bottom: 0;
    a {
        color: #ffffff;
    }
    #nav-user-actions {
        color: #000000;
        font-weight: 700;
        a {
            font-weight: normal;
            color: #676666;
        }
    }
    .uk-navbar-toggle {
        color: #fff;
    }
    .uk-search {
        .uk-search-icon {
            color: #ffffff;
        }
        .uk-search-input {
            color: #ffffff;
            &::placeholder {
                color: #ffffff;
            }
        }
    }
    #global-search-container {
        display: none;
        position: absolute;
        width: 250px;
        max-height: 150px;
        top: 65px;
        background-color: #d8e0c5;
        z-index: 2;
        ul {
            li {
                padding: 10px;
                margin-bottom: 5px;
                background-color: #b3bba1;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
#current-user-name {
    margin-left: 10px;
}

.uk-modal-title {
    font-size: 1.4rem;
}

.footer {
    height: 5vh;
    background-color: rgb(243 243 243);
    box-sizing: border-box;
    border-right: 1px solid #a5a5a57d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
    font-size: 0.875em;
}

.dataTables_wrapper {
    background-image: linear-gradient(53deg, #759623 0%, #749427 51%, #507100 75%);
    min-height: 300px;
    .dataTables_length, .dataTables_filter {
        padding: 20px 10px;
    }
    .dataTable {
        background-color: #d8d8d8;
    }
    .dataTables_paginate {
        .paginate_button {
            color: #fff !important;
            &.disabled {
                color: #bfbfbf !important;
            }
            &.current {
                background: linear-gradient(to bottom, #1f706b 0%, #272727 100%);
                color: #ffffff !important;
            }
            &:hover, &:active {
                background: linear-gradient(to bottom, #1f706b 0%, #272727 100%);
            }
        }
    }
    .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
        color: #fff;
    }
}
