.book-criteria-container {
    width: 100%;
    height: 100px;
    background-color: #f3f3f3;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 20px 0;
}
.available-games-container {
    padding: 20px 0;
    min-height: 67.2vh;
    #game-list-container {
        margin-top: 10px;
    }
}
